.series-album-info
    text-align: center
    color: color--normal-text

.series-album-info-text
    ellipsis-overflow(100%)
    font-weight: 200
    font-size: 1.25em
    margin: .5em 0
    
    +at-tablet()
        font-size: 2.5em

    +at-tablet()
        font-size: 2em


.series-album-info-title
    ellipsis-overflow(100%)
    color: color--dark-text
    font-weight: 200
    font-size: 2em
    margin: .5em 0

    +at-tablet()
        font-size: 3em

    +at-tablet()
        font-size: 2.5em
