.series-album-cover
    width: 100%
    margin: 0 auto
    position: relative

    +at-tablet()
        width: 60%

    +at-phone-landscape()
        width: 200px
        height: 200px
        margin: 0 


.series-album-cover-image
    width: 100%
    height: 100%


.series-album-cover-icons
    background: rgba(color--brand-primary, .7)
    color: white
    padding: .5em
    box-sizing: border-box
    width: 100%
    display: flex
    justify-content: space-around
    position: absolute
    bottom: .2em
    left: 0

    +at-phone-landscape()
        bottom: 0em  

.series-album-cover-icon
    font-size: 2em
    
    +at-tablet()
        font-size: 3.5em

    +at-desktop()
        font-size: 2.5em

    +at-phone-landscape()
        font-size: 2em    