div.series-album-cover
    img.series-album-cover-image(src="/dist/images/sample-album.jpg")
    
    div.series-album-cover-icons
        span.series-album-cover-icon.fa.fa-plus
        span.series-album-cover-icon.fa.fa-heart
        span.series-album-cover-icon.fa.fa-share