li.playlist-song
    img.playlist-song-cover(src="/dist/images/sample-album.jpg")


    div.playlist-song-info
        span.playlist-song-info-text Puengue weqeqweqeqe asdsd adasd da
        span.playlist-song-info-text Iguchi Yuka

    div.playlist-song-icons
        i.playlist-song-icon.fa.fa-play