/* Theme */
color--brand-primary = #3498db
color--application-bg = #efefef
color--box-shadow = rgba(black, .5)
color--divider = #373737


/* Text */
color--dark-text = #323232
color--normal-text = #4f4e4e
color--light-text = #767474
color--active-icon = #3498db


/* Elements */
//Navbar
color--navbar-bg = #212121
color--navbar-bg-highlighted = #313131

// Seek bar
color--seek-bar-border = #4f4e4e
color--seek-bar-total = #96c2ee
color--seek-bar-progress = #3498db
