// Theme
color--application-bg = #efefef


// Elements
color--navbar-bg = #212121
color--navbar-bg-highlighted = #313131


// Text
color--dark-text = #323232
color--normal-text = #4f4e4e


// Misc
color--box-shadow = rgba(black, .5)
color--divider = #373737

