.player-info
    margin: 1em 0
    display: flex
    flex-direction: column
    align-items: center
    font-size: .8em

    +at-tablet()
        font-size: 2em
        
    +at-desktop()
        font-size: 1.3em

    +at-hd-desktop()
        font-size: 1.4em


.player-info-title
    ellipsis-overflow(100%)
    color: color--dark-text
    font-size: 2.3em
    text-align: center


.player-info-text
    ellipsis-overflow(100%)
    color: color--light-text
    font-size: 1.25em
    text-align: center
    margin-top: .5em

    &:hover
        color: color--dark-text
    
