.player-volume-control
    position: fixed
    top: 25vw
    left: 5vw
    display: none
    align-items: center
    justify-content: space-between
    width: 80vw
    background: white
    box-shadow: 0px 0px 6px 2px color--box-shadow
    font-size: 2em
    padding: .5em

    &.is-active
        display: flex

    +at-desktop()
        left: calc(54vw + 200px)
        top: 65vh
        width: calc(40vw - 200px)
        font-size: 1em
    
    +at-hd-desktop()
        top: 72vh
        

.player-volume-control-seek
    padding: 0 .5em
    width: 100%

.player-volume-control-seek-total
    height: .5em
    width: 100%
    background: color--seek-bar-total

.player-volume-control-seek-current
    height: .5em
    width: 50%    
    background: color--seek-bar-progress 
