.player-cover
    margin: 0
    padding: 0


.player-cover-image
    display: block
    margin: 0 auto
    height: 225px
    width: 225px
    box-shadow: 0 0 4px 2px color--box-shadow

    +at-tablet()
        width: 400px
        height: 400px

    +at-desktop()
        width: 200px
        height: 200px

    +at-hd-desktop()
        width: 250px
        height: 250px

    +at-phone-landscape()
        height: 100px
        width: 100px    
        
    +at-tablet-landscape()
        height: 125px
        width: 125px
