.player
    width: 90%
    margin: 0 auto
    margin-top: 1em

    +at-desktop()
        margin-top: 0

.player-data
    +at-desktop()
        margin: 2em 0
        display: flex
        justify-content: space-around
        align-items: center