.player-controls
    margin: 1em 0
    display: flex
    justify-content: space-around


.player-controls-icon
    cursor: pointer
    color: color--normal-text
    font-size: 2.5em

    &:hover
        color: color--dark-text

    &.is-active
        color: color--active-icon

    +at-tablet()
        font-size: 3em

    +at-phone-landscape()
        font-size: 2em


