extends shared/base 

block vars
    - var title = 'now playing'

block content
    div.player
        include components/player/player-navigation

        div.player-data
            include components/player/player-cover
            include components/player/player-info

        include components/player/player-seek-bar
        include components/player/player-controls
        include components/player/player-volume-control
    
    include components/playlist/playlist