extends shared/base 

block vars
    - var title = 'now playing'

block content
    div.player.js-toggle-sidenav
        include components/player/player-navigation
        div.player-cover
        div.player-info
        div.player-controls