extends shared/base


block vars
    - var title = 'Seasons'
    - var hasPlaylist = false
    - var hasSearch = false

block content
    div.season-list-container
        ul.season-list
            - for _ in [1,2,3,4]
                include components/season-list/season-list-item