extends shared/base


block vars
    - var title = 'Hafa Adai'
    - var hasPlaylist = true
    - var hasSearch = false

block content
    div.series-album
        include components/series-album/series-album-cover
        include components/series-album/series-album-info

    include components/playlist/playlist