extends shared/base

block vars
    - var title = 'Dungeon ni deai wo Motomeru Machigaiteiru darou ka?'
    - var hasPlaylist = false
    - var hasSearch = false

block content
    include components/series-individual/series-individual