div.series-individual
    img.series-individual-image(src="/dist/images/sample-series.jpg")

    div.series-individual-releases
        h4.series-individual-releases-title Releases
        ul.series-individual-releases-list
            - for _ in [1,2,3,4,6,7,8,9,10,11]
                include series-release-item