li.series-release-item
    a.series-release-item-link(href="/dist/html/series-album.html")
        img.series-release-cover(src="/dist/images/sample-album.jpg")
        h4.series-release-type Insert Song Album