/* Theme */
$color--brand-primary: #3498db;
$color--application-bg: #efefef;
$color--box-shadow: rgba(black, .5);
$color--divider: #373737;


/* Text */
$color--dark-text: #323232;
$color--normal-text: #4f4e4e;
$color--light-text: #767474;
$color--clear-text: #949494;
$color--active-icon: #3498db;


/* Elements */
// Sidenav
$color--sidenav-bg: #212121;
$color--sidenav-bg-highlighted: #313131;

// Seek bar
$color--seekbar-border: #4f4e4e;
$color--seekbar-total: #96c2ee;
$color--seekbar-progress: #3498db;
