block vars

- var pageTitle = title ? title + ' | raji' : 'raji'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

        title #{pageTitle}

        link(rel="stylesheet", href="/dist/css/main.css")
        block styles
    body
        div.application
            include navbar 

            div.application-wrapper
                include header
                
                div.application-content
                    block content

            div.application-overlay.js-toggle-sidenav


        script(type="text/javascript")
            | var $navbar = document.querySelector('.navbar')
            | var $header = document.querySelector('.header')
            | var $overlay = document.querySelector('.application-overlay')
            | 
            | function toggleSidenav() {
            |    if ($navbar.classList.contains('is-active')) {
            |        $navbar.classList.remove('is-active')
            |        $overlay.classList.remove('is-active')
            |    } else {
            |        $navbar.classList.add('is-active')
            |        $overlay.classList.add('is-active')
            |    }
            | }
            | 
            | function toggleSearch() {
            |    if ($header.classList.contains('has-search'))
            |        $header.classList.remove('has-search')
            |    else
            |        $header.classList.add('has-search')
            | }
            | 
            | document.querySelectorAll('.js-toggle-sidenav')
            |     .forEach(node => node.addEventListener('click', toggleSidenav))            
            | document.querySelectorAll('.js-toggle-search')
            |     .forEach(node => node.addEventListener('click', toggleSearch))


        block scripts