block vars

- var pageTitle = title ? title + ' | raji' : 'raji'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

        title #{pageTitle}

        link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.css")
        link(rel="stylesheet", href="/dist/css/main.css")
        block styles
    body
        div.application
            include navbar 
            - if (hasPlaylist)
                div.application-wrapper.has-playlist
                    include header
                    
                    div.application-content
                        block content   
            - else
                div.application-wrapper
                    include header
                    
                    div.application-content
                        block content

            div.application-overlay.js-application-overlay


        script(type="text/javascript", src="/dist/js/header-events.js")


        block scripts