doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

        title #{title || 'RajiNet'}

        link(rel="stylesheet", href="/dist/css/main.css")
        block styles
    body
        div.application
            include navbar 

            block content

        script(type="text/javascript")
            | var element = document.querySelector('.navbar')
            | document.body.addEventListener('click', function() {
            |    if (element && element.classList.contains('is-active'))
            |        element.classList.remove('is-active')
            |    else
            |        element.classList.add('is-active')
            | })

        block scripts