div.header
    div.header-content
        i.header-icon.fa.fa-bars.js-toggle-sidenav
        h1.header-title #{title || 'raji'}
        - if (hasPlaylist)
            i.header-icon.fa.fa-angle-left.js-toggle-playlist
        - if (hasSearch)
            i.header-icon.fa.fa-search.js-toggle-search

    div.header-search
        i.header-icon.fa.fa-close
        input.header-search-input(type="text")