div.header
    div.header-content
        i.header-icon.fa.fa-bars
        h1.header-title #{title || 'raji'}
        i.header-icon.fa.fa-search

    div.header-search
        i.header-icon.fa.fa-close
        input.header-search-input(type="text")