- var links = []
- links.push({ text: 'now playing', href: '/dist/html/player.html' })
- links.push({ text: 'series', href: '/dist/html/series-list.html' })
- links.push({ text: 'playlists', href: '/dist/html/playlist-list.html' })
- links.push({ text: 'seasons', href: '/dist/html/season-list.html' })

div.navbar
    nav.navbar-nav
        a(href="#").navbar-logo
            h1.navbar-logo-text raji
            img.navbar-logo-image(src="/dist/images/logo.svg")

        ul.navbar-list
            - for link in links
                li.navbar-list-item.is-active
                    a(href="#{link.href}").navbar-list-link
                        span.navbar-list-text #{link.text}