div.navbar
    nav.navbar-nav
        a(href="#").navbar-logo
            h1.navbar-logo-text raji
            img.navbar-logo-image(src="dist/images/logo.svg")

        ul.navbar-list
            li.navbar-list-item.is-active
                a(href="#").navbar-list-link
                    i.navbar-list-icon
                    span.navbar-list-text player
            li.navbar-list-item
                a(href="#").navbar-list-link
                    i.navbar-list-icon
                    span.navbar-list-text series
            li.navbar-list-item
                a(href="#").navbar-list-link
                    i.navbar-list-icon
                    span.navbar-list-text playlists
