.series {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    max-height: calc(100vh - 8em);
    width: 100%;

    @include at-hd-desktop {
        min-height: 25em;
        padding: 0em 2em;
    }
}

.series-image {
    display: none;
    height: 25%;
    max-height: 25%;
    max-width: 25%;
    min-height: 25%;
    min-width: 25%;
    width: 25%;

    @include at-hd-desktop() {
        display: flex;
    }
}
