a.playlist-list-item(href="/dist/html/series-album.html")
    div.playlist-list-item-data
        img.playlist-list-item-image(src="/dist/images/sample-album.jpg")
    
        div.playlist-list-item-info
            h2.playlist-list-item-title Gochiusa Soundtrack
            p.playlist-list-item-text by @datyayu
            p.playlist-list-item-text 24 tracks
            p.playlist-list-item-text 5,321 plays


    div.playlist-list-item-top
        h3.playlist-list-item-top-title Top Songs
        div.playlist-list-item-top-list
            p.playlist-list-item-text Gochuumon wa Usagi Desu ka? (Chino version)
            p.playlist-list-item-text Hitosaji no Ohimesama Monogatari
            p.playlist-list-item-text Rabbit Hole

