.header.has-search {
    & .header-search {
        opacity: 1;
        transform: translateX(0);
    }
}


.header-search {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    opacity: 0;
    transform: translateX(100vw);
    transition: opacity 300ms ease-in-out;
    width: 100%;
    will-change: transform, opacity;
}


.header-search-input {
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
    height: 70%;
    outline: none;
    padding: 1em;
    width: 80%;
}
