.header {
    background: $color--sidenav-bg;
    box-shadow: 0px 0px 4px 2px $color--box-shadow;
    box-sizing: border-box;
    color: white;
    height: 4em;
    max-width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;

    @include at-desktop {
        background: none;
        box-shadow: none;
        height: 6em;
        min-width: calc(100% - 200px);
    }
}


.header-icon {
    cursor: pointer;
    font-size: 2em;

    @include at-desktop {
        display: none;

        &.fa-angle-left {
            color: $color--dark-text;
            display: block;
            font-size: 3em;
        }
    }

    @include at-hd-desktop {
        width: 0;
        
        &.fa-angle-left {
            display: none;
        }
    }
}
