.playlist-list-item-top
    display: none
    width: 50%

    +at-hd-desktop()
        display: block


.playlist-list-item-top-title
    color: color--clear-text
    text-align: center
    border-bottom: 1px solid color--clear-text
    margin: 0 10%
    padding: .25em
    box-sizing: border-box


.playlist-list-item-top-list
    text-align: center