.search
    display: none
    width: 100%
    text-align: center

    +at-desktop()
        display: block


.search-input
    font-size: .9em
    margin: -.5em auto 1em auto
    padding: .5em 1em .5em 2em
    width: 100%



.search-input-wrapper
    position: relative
    width: 40%
    margin: 0 auto


.search-input-icon
    font-size: 1.1em
    color: color--normal-text
    position: absolute
    top: 3px
    left: 7px