body 
    font-family: HelveticaNeue-Light, Helvetica, "Open Sans", Arial, sans-serif
    margin: 0
    padding: 0


a
    text-decoration: none


ul
    list-style: none
    margin: 0
    padding: 0

.fa
    font-size: 2em


.application
    background: color--application-bg
    display: flex
    width: 100vw
    height: 100%
    min-height: 100vh
    max-width: 100vw


.application-wrapper
    width: 100%

    +at-desktop()
        margin-left: 200px

    +at-hd-desktop()
        &.has-playlist
            width: calc(100% - 200px - 350px)
            margin: 0 350px 0 200px

.application-content
    width: 100%
    margin: 0 auto
    
    +at-desktop()
        width: 85%


.application-overlay
    opacity: 0
    background: rgba(black, .5)
    height: 100vh
    width: 100vw
    position: fixed
    top: 0
    right: 0
    transition: opacity 300ms ease-in-out
    transform: translateX(-100vw)
    will-change: transform, opacity

    &.is-active
        opacity: 1;
        transform: translateX(0)

    +at-desktop()
        display: none