@import "player";
@import "player-controls";
@import "player-cover";
@import "player-data";
@import "player-info";
@import "player-navigation";
@import "player-navigation-item";
@import "player-seekbar";
@import "player-volume-control";
