.player-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin: 1em 0;
    padding: 0 1em;
    box-sizing: border-box;

    @include at-tablet {
        font-size: 2em;

    }

    @include at-desktop {
        font-size: 1em;
        width: calc(100vw - 200px - 250px - 20%);
        
    }

    @include at-hd-desktop {
        width: calc(100vw - 200px - 300px - 250px - 40%);
    }

    @include at-phone-landscape {
        font-size: 1em;
    }

    @include at-tablet-landscape {
        font-size: 1.25em;
    }
}


.player-info-title {
    color: $color--dark-text;
    font-size: 2.3em;
    text-align: center;

    @include ellipsis-overflow(100%);
}


.player-info-text {
    color: $color--light-text;
    font-size: 1.25em;
    margin-top: .5em;
    text-align: center;

    @include ellipsis-overflow(100%);

    &:hover {
        color: $color--dark-text;
    }
}
