.player-data {
    @include at-desktop {
        margin: 2em 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    @include at-phone-landscape {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    @include at-tablet-landscape {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
}