div.player-seek-bar
    div.player-seek-bar-total-bar
        div.player-seek-bar-current-bar(style="width: 20%")

    div.player-seek-bar-time
        div.player-seek-bar-time-text 0:22
        div.player-seek-bar-time-text 13:58

