div.player-controls
    span.player-controls-icon.fa.fa-random.is-active
    span.player-controls-icon.fa.fa-backward
    span.player-controls-icon.fa.fa-play
    span.player-controls-icon.fa.fa-forward
    span.player-controls-icon.fa.fa-volume-up
