div.player-navigation
    div.player-navigation-item
        i.player-navigation-icon.fa.fa-angle-left
        div.player-navigation-info
            p.player-navigation-text Puenge
            p.player-navigation-text Iguchi Yuka

    div.player-navigation-item
        div.player-navigation-info
            p.player-navigation-text Manana
            p.player-navigation-text Iguchi Yuka
        i.player-navigation-icon.fa.fa-angle-right

