.application {
    background: $color--application-bg;
    display: flex;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
    width: 100%;
}


.application-wrapper {
    width: 100%;

    @include at-desktop {
        margin-left: 200px;
    }

    &.has-playlist {
        @include at-hd-desktop {
            margin: 0 350px 0 200px;
            width: calc(100% - 200px - 350px);
        }

        @include at-full-hd-desktop {
            margin: 0 500px 0 200px;
            width: calc(100% - 200px - 500px);
        }
    }
}