@import "configs/index";
@import "utils/index";

@import "components/index";
@import "app";
@import "app-content";



// Base styles
body {
    font-family: HelveticaNeue-Light, Helvetica, "Open Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}