.navbar-logo
    display: block
    color: white
    border-bottom: 1px solid white
    padding: .25em 0

    &:hover,
    &:active,
    &.is-active
        background: color--navbar-bg-highlighted

    +at-desktop()
        border-bottom: none
        padding: 0
        margin: 1em 0

        &:hover,
        &:active,
        &.is-active
            background: none


.navbar-logo-text
    font-size: 2em;
    font-weight: lighter
    text-align: center
    padding: .25em 0
    margin: 0

    +at-desktop()
        display: none


.navbar-logo-image
    display: none
    width: 100px
    margin: 0 auto

    +at-desktop()
        width: 150px
        display: block