at-phone-landscape()
    @media screen and (orientation: landscape)
        {block}

at-tablet()
    @media screen and (min-width: media-query-tablet)
        {block}

at-desktop()
    @media screen and (min-width: media-query-desktop)
        {block}

at-hd-desktop()
    @media screen and (min-width: media-query-hd-desktop)
        {block}