at-phone-landscape()
    @media screen and (orientation: landscape) and (max-width: media-query-phone-landscape)
        {block}
        
at-tablet-landscape()
    @media screen and (orientation: landscape) and (max-width: media-query-desktop)
        {block}

at-tablet()
    @media screen and (min-width: media-query-tablet)
        {block}

at-desktop()
    @media screen and (min-width: media-query-desktop)
        {block}

at-hd-desktop()
    @media screen and (min-width: media-query-hd-desktop)
        {block}